@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Definition */
:root {
    /* Colors */
    --blue      : #0d6efd;
    --indigo    : #6610f2;
    --purple    : #6f42c1;
    --pink      : #d63384;
    --red       : #dc3545;
    --orange    : #fd7e14;
    --yellow    : #ffc107;
    --green     : #198754;
    --teal      : #20c997;
    --cyan      : #0dcaf0;
    --white     : #fff;
    --gray1     : #f8f9fa;
    --gray2     : #e9ecef;
    --gray3     : #dee2e6;
    --gray4     : #ced4da;
    --gray5     : #adb5bd;
    --gray6     : #6c757d;
    --gray7     : #495057;
    --gray8     : #343a40;
    --gray9     : #212529;
    --black     : #000;

    --uibs: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--gray9) var(--gray1);
}
*::-webkit-scrollbar {width: 12px}
*::-webkit-scrollbar-track {background: var(--gray1)}
*::-webkit-scrollbar-thumb {background-color: var(--gray9);border: 3px solid var(--gray1)}

.selector-for-some-widget {box-sizing:content-box}
body, html {position:relative;width:100%;margin:auto;font-family: 'Poppins', sans-serif !important;font-size:15px !important;color:var(--gray9)}
a {color:var(--blue) !important;text-decoration:none !important;cursor:pointer !important}
a:hover {color:var(--red);text-decoration:none !important}
textarea {resize:none !important}
.box-shadow {box-shadow:var(--uibs)}

.full {width:100%;margin:auto}
.form-label {font-size:13px;display:block;position:relative;font-weight:bold}
.form-control, .form-select {border-radius:0px !important;resize:none !important}
.form-control:hover, .form-select:hover, .form-input-check:hover, .form-control:focus, .form-select:focus, .form-input-check:focus {border:1px solid var(--blue) !important;box-shadow:none !important}
.form-control:read-only {cursor:no-drop !important}
.form-alert {font-size:13px;padding-top:4px;color:var(--red);display:none}
.btn, .alert, .modal-content {border-radius:0px !important}
.btn:hover, .btn:focus {box-shadow:none !important}
.input-group-text {border-radius:0px !important}

.table-responsive {max-height:100vh !important;overflow-x:auto !important}
.table {width:100% !important;margin:auto !important}
.table thead {border-bottom:1px solid var(--gray3) !important;font-weight:normal !important;background:var(--gray9) !important;color:var(--white) !important}
.table tbody {border-top:1px solid var(--gray3) !important}
.nav-tabs .nav-link, .accordion-item, .accordion-header, .accordion-button, .list-group, .list-group .list-group-item, .collapse, .collapse .card-body {border-radius:0px !important;box-shadow:none !important;}
.dropdown-menu {border-radius:0px !important;padding:10px !important}

.row {margin:0px !important;padding:0px !important;width:auto !important}
.general-row:after {content:"";display:table;clear:both;width:100%;margin:auto}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col {padding:0px !important;margin:0px !important}
.col-left {margin-right:15px;width:auto}
.col-right {margin-left:15px;width:auto}

/* Selectpicker */
.bootstrap-select {background:var(--white) !important;border:1px solid var(--gray2) !important;background:var(--white) !important}
.bootstrap-select:focus, .bootstrap-select:active {background:var(--gray2) !important;border:1px solid var(--blue) !important}
.bootstrap-select .dropdown-menu {border-radius:0px !important;padding:0px !important}
.bootstrap-select .dropdown-menu .dropdown-item:hover {color:var(--gray9) !important}
.bootstrap-select .dropdown-menu .dropdown-item {color:var(--gray9) !important}
.bootstrap-select .dropdown-menu .active .dropdown-item {color:var(--white) !important}

/* Datatables*/
.dataTables_wrapper .dataTables_length select {width:80px !important}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item {padding:0px;border:none!important;box-shadow:none!important}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item .page-link {color:var(--white) !important;background:var(--gray6);border:none;box-shadow:none}
.dataTables_wrapper .dataTables_paginate .paginate_button.page-item.active .page-link {color:var(--white) !important;background:var(--gray9);border:none;box-shadow:none}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous .page-link, 
.dataTables_wrapper .dataTables_paginate .paginate_button.next .page-link {border:none;border-radius:0px;background:var(--gray9);color:var(--white) !important}

@media screen and (max-width:720px){
    .col-left, .col-right {margin:auto !important}
    .col-right {margin-top:15px !important}

    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {margin:auto;float:left !important}
}